.otherClass {
  color: darkgrey;
  font-size: 24dp;
}

html {
  width: 90%;
  margin: 10px auto;
}

blockquote {
  border-color: darkgrey;
}

main {
  width: 95%;
  margin: 10px auto;
}

hr {
  border-color: lightgrey;
}

p {
  font: normal 18pt Arial;
}

h1 {
  color: rgba(50, 50, 50, 0.9);
}

h2 {
  color: rgba(60, 60, 60, 0.9);
}
